$white: #fff;
$highlight: #7ac483;
$grey_background: #f2f1f8;
$grey_copy: #b9b7c6;
$dark_grey: #3f3d43;
$font-family: 'Varela Round', sans-serif;


// Set Button
@mixin button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: 700;
  color: $white;
  text-align: center;
}